$violet: #a16f90;
$orange: #ff755b;
$green: #83d38c;
$blue: #8ac8df;
$black-grey: #45413e;
$wite: #ffffff;
$beige: #f1edea;
$black: #262a33;
$pink: #dc5887;
$light-grey: #bdc3c7;
$blue-grey: #2c3e50;
$grey: #868380;
$fon: #f1f1f1;
$balance : #F50057;