.header__full {
  
    background-color: $wite;
    @media (max-width: 991px) {
        display: none;
       }
    .iconci {
        display: flex;
        &>div {
            position: relative;
            padding: 0 10px;
        }
        svg {
            height: 25px;
            width: 25px;
        }
    }
    .img__logo{
img{
    height: 70px;
}
    }
}

.container {
    max-width: 1200px;
    // padding-top: 25px;
    &-1 {
        background-color: $light-grey;
    }
}



.nav{
    font-family: $NotoSans;
}

.nav-link {
    color: $black-grey;
    font-size: 14px;
    font-family: $NotoSans;
    @media (max-width: 1013px) {
       font-size:10px;
       }
}

.nav-item.EN {
    .nav-link {
        color: $grey;
    }
}

.number {
    border: 2px solid $violet;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    position: absolute;
    top: -1px;
    right: 2px;
    color: $violet;
    width: 15px;
    height: 15px;
    z-index: 1;
    background-color: $wite;
}

#section-breadcrumb {    
    margin-top: 50px;
   
    .breadcrumb {   
        font-weight: 600;
        padding-top: 36px;
        padding-left: 5px;
        font-size: 16px;
        background-color: transparent;
        justify-content: center;
        &>li+li:before {
            color: black;
            content: "/";
            padding: 0 5px;
        }
         @media (max-width: 576px) {
        margin-top:5px;
        
           }
    }
}

.li {
    .home {
        color: $violet;
    }
}

.h2 {
    position: relative;
}



.tecnology {
    padding-top: 40px;
}
body {
    margin: 0;
    line-height: 1.4;
    background: #E1E1E1;
}


    .header__small {
        display: none;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        background: rgba(#000,0.8);
        overflow: hidden;
        transition: all 0.5s ease-out, background 1s ease-out;
        transition-delay: 0.2s;
        @media (max-width: 991px) {
           display: block;
          }
        .burger-container {
            position: relative;
            display: inline-block;
            height: 50px;
            width: 50px;
            cursor: pointer;
            transform: rotate(0deg);
            transition: all 0.3s $cubic;
            user-select: none;
            -webkit-tap-highlight-color: transparent;
            #burger {
                width: 18px;
                height: 8px;
                position: relative;
                display: block;
                margin: -4px auto 0;
                top: 50%;
                .bar {
                    width: 100%;
                    height: 1px;
                    display: block;
                    position: relative;
                    background: #FFF;
                    transition: all 0.3s $cubic;
                    transition-delay: 0s;
                    &.topBar {
                        transform: translateY(0px) rotate(0deg);
                    }
                    &.btmBar {
                        transform: translateY(6px) rotate(0deg);
                    }
                }
            }
        }
        .icon {
            display: inline-block;
            position: absolute;
            height: 100%;
            line-height: 50px;
            width: 50px;
            height: 50px;
            text-align: center;
            color: #FFF;
            font-size: 22px;
            left: 50%;
            transform: translateX(-50%);
            &.icon-bag {
                right: 0;
                top: 0;
                left: auto;
                transform: translateX(0px);
                transition: transform 0.5s $cubic;
                transition-delay: 0.65s;
            }
        }
        ul.menu {
            position: relative;
            display: block;
            padding: 0px 48px 0;
            list-style: none;
            pointer-events: none;
            li.menu-item {
                border-bottom: 1px solid #333;
                margin-top: 5px;
                transform: scale(1.15) translateY(-30px);
                opacity: 0;
                transition: transform 0.5s $cubic, opacity 0.6s $cubic;
                @for $i from 1 through $menuItems {
                    &:nth-child(#{$i}) {
                        transition-delay: #{0.56 - ($i * 0.07)}s;
                    }
                }
                a {
                    display: block;
                    position: relative;
                    color: #FFF;
                    font-family: $mukta;
                    font-weight: 100;
                    text-decoration: none;
                    font-size: 22px;
                    line-height: 2.35;
                    font-weight: 200;
                    width: 100%;
                }
            }
        }
        &.menu-opened {
            height: 100%;
            background-color: #000;
            transition: all 0.3s ease-in,background 0.5s ease-in;
            transition-delay: 0.25s;
            .burger-container {
                transform: rotate(90deg);
                #burger {
                    .bar {
                        transition: all 0.4s $cubic;
                        transition-delay: 0.2s;
                        &.topBar {
                            transform: translateY(4px) rotate(45deg);
                        }
                        &.btmBar {
                            transform: translateY(3px) rotate(-45deg);
                        }
                    }
                }
            }
            ul.menu {
                pointer-events: painted;
                li.menu-item {
                    transform: scale(1) translateY(0px);
                    opacity: 1;
                    @for $i from 1 through $menuItems {
                        &:nth-child(#{$i}) {
                            transition-delay: #{0.07 * $i+0.2}s;
                        }
                    }
                }
            }
            .icon {
                &.icon-bag {
                    transform: translateX(75px);
                    transition-delay: 0.3s;
                }
            }
        }
    }
    .content {
        font-family: $mukta;
        padding: 67px 4% 0;
        text-align: justify;
        overflow: scroll;
        max-height: 100%;
        &::-webkit-scrollbar  {
            display: none;
        }
        h2 {
            margin-bottom: 0px;
            letter-spacing: 1px;
        }
        img {
            width: 95%;
            position: relative;
            display: block;
            margin: 75px auto 75px;
            &:nth-of-type(2) {
                margin: 75px auto;
            }
        }
    }
    @media(max-width: 600px) {
        width: 100%;
        height: 100vh;
        margin: 0;
        border-radius: 0px;
        .header {
            position: fixed;
        }
    }
